/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
:root {
  --accent: #E60A06;
}

.cs-iconbox.cs-style1 {
  max-width: 350px;
  margin: auto;
}
.cs-iconbox.cs-style1 .cs-iconbox_icon {
  margin-bottom: 25px;
}
.cs-iconbox.cs-style1 .cs-iconbox_title {
  font-size: 30px;
  margin-bottom: 20px;
}
.cs-iconbox.cs-style1 .cs-iconbox_subtitle {
  line-height: 1.75em;
}
@media (max-width: 991px) {
  .cs-iconbox.cs-style1 {
    max-width: 100%;
  }
  .cs-iconbox.cs-style1 .cs-iconbox_title {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

.cs-iconbox.cs-style2 {
  max-width: 350px;
  margin: auto;
}
.cs-iconbox.cs-style2 .cs-iconbox_icon {
  margin-bottom: 25px;
}
.cs-iconbox.cs-style2 .cs-iconbox_title {
  font-size: 30px;
  margin-bottom: 20px;
}
.cs-iconbox.cs-style2 .cs-iconbox_subtitle {
  line-height: 1.75em;
}
@media (max-width: 991px) {
  .cs-iconbox.cs-style2 {
    max-width: 100%;
  }
  .cs-iconbox.cs-style2 .cs-iconbox_title {
    font-size: 26px;
    margin-bottom: 10px;
    margin-bottom: 20px;
  }
}

.cs-iconbox_4_wrap {
  display: grid;
  grid-gap: 65px 135px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1400px) {
  .cs-iconbox_4_wrap {
    grid-gap: 50px 100px;
  }
}
@media (max-width: 1199px) {
  .cs-iconbox_4_wrap {
    grid-gap: 40px;
  }
}
@media (max-width: 575px) {
  .cs-iconbox_4_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cs-iconbox.cs-style4 .cs-iconbox_icon {
  margin-bottom: 22px;
}
.cs-iconbox.cs-style4 .cs-iconbox_title {
  font-size: 30px;
  line-height: 1.37em;
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .cs-iconbox.cs-style4 .cs-iconbox_title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
.cs-iconbox.cs-style4 .cs-iconbox_subtitle {
  line-height: 1.75em;
  margin-bottom: 30px;
}
@media (max-width: 1400px) {
  .cs-iconbox.cs-style4 .cs-iconbox_subtitle {
    margin-bottom: 22px;
  }
}
.cs-iconbox.cs-style4 .cs_iconbox_btn {
  display: inline-flex;
  align-items: center;
  color: #fff;
}
.cs-iconbox.cs-style4 .cs_iconbox_btn svg {
  transition: inherit;
}
.cs-iconbox.cs-style4 .cs_iconbox_btn span {
  margin-right: 0px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.cs-iconbox.cs-style4 .cs_iconbox_btn:hover {
  color: var(--accent);
}
.cs-iconbox.cs-style4 .cs_iconbox_btn:hover span {
  margin-right: 10px;
  max-width: 100px;
}
