/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
:root {
  --accent: #E60A06;
}

.cs-iconbox_3_list {
  position: relative;
  padding-left: 550px;
  min-height: 640px;
}
.cs-iconbox_3_list > *:not(:last-child) {
  border-bottom: 1px solid #4d4d4d;
}
.cs-iconbox_3_list .cs-image_layer {
  position: absolute;
  left: 0;
  top: 25px;
  pointer-events: none;
  max-width: 416px;
  height: 600px;
}
.cs-iconbox_3_list .cs-image_layer .cs-image_layer_in {
  height: 100%;
  width: 100%;
}
.cs-iconbox_3_list .cs-image_layer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  clip-path: inset(0 100% 0 0);
  animation: inactiveImageAnimation1 0.6s forwards ease;
}
.cs-iconbox_3_list .cs-hover_tab.active .cs-image_layer img {
  animation: activeImageAnimation1 0.6s forwards ease;
}
.cs-iconbox_3_list .cs-hover_tab.active .cs-iconbox_icon {
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}
@media (max-width: 1199px) {
  .cs-iconbox_3_list {
    padding-left: 460px;
  }
}
@media (max-width: 991px) {
  .cs-iconbox_3_list {
    padding-left: 0;
    padding-top: 650px;
  }
  .cs-iconbox_3_list .cs-image_layer {
    max-width: 100%;
    width: 100%;
  }
}
.cs-iconbox_3_list.cs-style1 {
  padding-left: 0;
  min-height: initial;
}
.cs-iconbox_3_list.cs-style1 .cs-iconbox.cs-style3 .cs-iconbox_in {
  max-width: 560px;
}
@media (max-width: 1199px) {
  .cs-iconbox_3_list.cs-style1 {
    padding: 0;
  }
}
.cs-iconbox_3_list.cs-style2 {
  padding-left: 110px;
  counter-reset: number-counter;
  padding-top: 0;
}
@media (max-width: 991px) {
  .cs-iconbox_3_list.cs-style2 {
    padding-left: 40px;
  }
}
@media (max-width: 575px) {
  .cs-iconbox_3_list.cs-style2 {
    padding-left: 0px;
  }
}
.cs-iconbox_3_list.cs-style2 .cs-image_layer.cs-style1,
.cs-iconbox_3_list.cs-style2 .cs-image_layer_in::after {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.cs-iconbox_3_list.cs-style2 .cs-image_layer.cs-style1 {
  padding-right: 0;
  padding-bottom: 0;
  height: initial;
  width: 170px;
  transform: rotate(0deg) translateY(-50%);
  top: 50%;
  right: 28%;
  left: initial;
}
@media (max-width: 1199px) {
  .cs-iconbox_3_list.cs-style2 .cs-image_layer.cs-style1 {
    right: 20%;
  }
}
@media (max-width: 991px) {
  .cs-iconbox_3_list.cs-style2 .cs-image_layer.cs-style1 {
    display: none;
  }
}
.cs-iconbox_3_list.cs-style2 .cs-image_layer.cs-style1 img {
  animation: none;
  clip-path: inset(0% 0% 0 0);
}
.cs-iconbox_3_list.cs-style2 .cs-hover_tab {
  position: relative;
}
.cs-iconbox_3_list.cs-style2 .cs-hover_tab::before {
  counter-increment: number-counter;
  content: counter(number-counter, decimal-leading-zero) ". ";
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: -110px;
  top: 30px;
}
@media (max-width: 991px) {
  .cs-iconbox_3_list.cs-style2 .cs-hover_tab::before {
    left: -40px;
  }
}
@media (max-width: 575px) {
  .cs-iconbox_3_list.cs-style2 .cs-hover_tab::before {
    display: none;
  }
}
.cs-iconbox_3_list.cs-style2 .cs-hover_tab.active .cs-image_layer.cs-style1 {
  opacity: 1;
  visibility: visible;
  transform: rotate(15deg) translateY(-50%);
}

.cs-iconbox.cs-style3 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 25px;
  color: rgba(254, 254, 254, 0.7);
}
.cs-iconbox.cs-style3 .cs-iconbox_in {
  margin-right: 30px;
  max-width: 480px;
}
.cs-iconbox.cs-style3 .cs-iconbox_icon {
  color: #F9A30A;
  border: 2px solid #F9A30A;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  flex: none;
  transition: all 0.3s ease;
}
.cs-iconbox.cs-style3 .cs-iconbox_icon:hover {
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}
.cs-iconbox.cs-style3 .cs-iconbox_title {
  font-size: 30px;
  margin-bottom: 15px;
}
.cs-iconbox.cs-style3 .cs-iconbox_subtitle {
  line-height: 1.75em;
}
.cs-iconbox.cs-style3:hover .cs-iconbox_icon {
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}
@media (max-width: 991px) {
  .cs-iconbox.cs-style3 .cs-iconbox_title {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .cs-iconbox.cs-style3 {
    flex-direction: column;
    align-items: flex-start;
  }
  .cs-iconbox.cs-style3 .cs-iconbox_icon {
    position: initial;
    transform: initial;
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
  }
  .cs-iconbox.cs-style3 .cs-iconbox_icon svg {
    max-height: 22px;
  }
}

@keyframes inactiveImageAnimation1 {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}
@keyframes activeImageAnimation1 {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
