/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
:root {
  --accent: #E60A06;
}
$white: #fff;
$black: #161616;
$primary: #fefefe;
$secondary: rgba($primary, 0.7);
$ternary: #F9A30A;
$border: #4d4d4d;
$gray: #181818;
$accent: var(--accent);
